.body-home {
    height: 550px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    background-image: url("../../imgs/Vector.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner {
    grid-column: 1 / 5;
    height: 275px;
    background-image: url("../../imgs/310781821_619671119794473_3259522790867787573_n\ 1.png");
    background-size: 100%;
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: left;
    padding-left: 20px;
}

.comp-one, .comp-two, .comp-three, .comp-four {
    height: 270px;
    background-color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.comp-one {
    background-image: url("../../imgs/Rectangle\ 59.png");
    background-size: 100%;
}

.comp-two {
    background-image: url("../../imgs/Rectangle\ 58.png");
    background-size: 100%;
}

.comp-three {
    background-image: url("../../imgs/Rectangle\ 56.png");
    background-size: 100%;
}

.comp-four {
    background-image: url("../../imgs/Rectangle\ 60.png");
    background-size: 100%;
}