* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.banner {
    display: flex;
    height: 500px;
    grid-column: 1 / 5;
    background-color: #E5E7E9 ;
    justify-content: space-around;
}

.banner-texts {
    padding-left: 100px;
    height: 250px;
    width: 600px;
    align-self: center;
    text-align: left;
    display: grid;
}


.banner-texts h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.banner-texts P {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.banner-img { 
    width: 500px;
    height: 400px;
}

.section {
    grid-column: 1 / 5;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 150px;
    gap: 20px;
    padding-top: 50px;
}

.ropa-div {
    background: url(../../imgs/pareja-despreocupada-hermosa-joven-pareja-gesticulando_425904-7952.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.accesorios-div {
    background: url(../../imgs/accesorios.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.calzado-div {
    background: url(../../imgs/calzado.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.ropa-div img {
    height: 250px;
    width: 100%;
}

.ropa-text {
    background-color: white;
    height: 40px;
    width: 140px;
    position: absolute;
}

.body-middle {
    grid-column: 1 / 5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 300px;
}

.banner-two {
    background: url("../../imgs/bg-5.jpg.webp");
    grid-column: 1 / 5;
    margin-top: 50px;
    height: 450px;
    margin-inline: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prueba {
    height: 250px;
    width: 500px;
    border: 2px solid black;
}

.prueba:hover {
    backdrop-filter: blur(10px);
}

.banner-two img {
    height: 448px;
    width: 100%;
}

.body-middle h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.body-middle h3 {
    padding-top: 10px;
    font-family: 'Exo', sans-serif;
    font-size: 17px;
    font-weight: bold;
}