.nav {
    width: 650px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.buttonY:hover {
    color: crimson;
    background-attachment: fixed;
}

.buttonY {
    height: 70px;
    width: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
}